aaa.for
*.dmp
*.tmp
*.in
*.out
*.clo
*.aei
*.gnu
*.mod
element6
element7
mercury6
mercury7
mercury7_nocondor
mercury7_roche
mercury7_roche_nocondor
mercury7_noroche
mercury7_noroche_nocondor
mercury7_rho0p1
mercury7_rho0p1_nocondor
mercury7_lotsofnames
mercury7_qstarmod
mercury7_qstarmod_nocondor
mercury7_scottmod
mercury7_scottmod_nocondor
mercury7_notidal
mercury7_notidal_nocondor
mercury7_novescmod
mercury7_novescmod_nocondor
mercury7_maxfragnum
mercury7_nocondor_maxfragnum
mercury7_multcollisioncounter
mercury7_multcollisioncounter_nocondor
mercury7_removenamereducer
mercury7_nocondor_removenamereducer
mercury7_nocondor_roche1.0
mercury7_nocondor_roche1.1
mercury7_roche1.0
mercury7_roche1.1
mercury7_test
mercury7_test2
close6
frag_f90
*~
*.pdf

code_pdfs
*candel*
code_profiling

precision.f90

*.pyc

.nfs*
