aaa.for
*.dmp
*.tmp
*.in
*.out
*.clo
*.aei
*.gnu
*.mod
element6
element7
mercury6
mercury7
mercury7_nocondor
mercury7_rho0p1
mercury7_rho0p1_nocondor
close6
frag_f90
*~
*.pdf

code_pdfs
*candel*

precision.f90

*.pyc
